manifest:
  remotes:
    - name: zmkfirmware
      url-base: httpshttps://github.com/zmkfirmware//github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
  self:
    path: config
